.date-input {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 14px;
  border: 4px solid teal;
}

.number-input {
  font-size: 1rem;
  width: 6rem;
  padding: 1rem;
  border-radius: 14px;
  margin-top: 2rem;
  font-weight: 600;
  border: 4px solid teal;
}

.text-input {
  font-size: 1rem;
  padding: 1rem;
  border-radius: 14px;
  margin-top: 2rem;
  font-weight: 600;
  border: 4px solid teal;
}

.data-reset {
  font-size: 1rem;
  width: 7rem;
  padding: 0.5rem;
  border-radius: 14px;
  margin-top: 2rem;
  font-weight: 600;
  border: 4px solid teal;
}

.date-display {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 400;
  margin: 2rem;
}
